name: Docker (Nix-built)

on:
  push:
    branches:
      - master
      - github-docker
      - nix-docker-2
    tags:
      - '*'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set Docker Package and Version
        run: |
          set +e
          _=$(echo "$GITHUB_REF" | grep "^refs/heads/")
          if [ $? -eq 0 ]; then
            # branch
            if [ "$GITHUB_REF" = "refs/heads/master" ]; then
              VER=latest
              PKG=echidna
            else
              VER=testing
              PKG=testing
            fi
          fi
          _=$(echo "$GITHUB_REF" | grep "^refs/tags/")
          if [ $? -eq 0 ]; then
            # tag
            # refs/tags/v1.X => v1.X
            VER=$(echo "$GITHUB_REF" | sed -e 's/.*\///')
            PKG=echidna
          fi
          set -e
          echo "PKG=$PKG" >> $GITHUB_ENV
          echo "VER=$VER" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile.nix
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/$GITHUB_REPOSITORY/$PKG:$VER
